<h1>Olá Handlebars</h1>
<p>O nome do usuário é {{user.name}} {{user.surname}} e ele tem {{user.age}} anos</p>  <!--fazer interpolação-->

<h2>{{palavra}}</h2>

{{#if auth}} <!-- Se o usuário estiver autenticado ele entra no if, nao pode colocar auth === true -->
    <p>
        Você está autenticado, <a href="dashboard">clique aqui</a> para acessar a area de membros!
    </p>
{{/if}}